table {
	border: 2px solid gray;
	width: 900px;
	height: 400px;
	border-collapse: collapse;
}

td {
	border: 2px solid black;
}

.stud li:first-child {
	background-color: yellowgreen;
}

li:last-child {
	background-color: darkgreen;
}
