* {
	transition: all .1s ease-in;
	font-family: Trebuchet MS, Trebuchet, Arial, sans-serif;
}
body {
	height: 100%;
	width: 100%;
	position: absolute;
	border: 20px solid #fff;

}
header {
	background-color: #4A4F56;
	height: 15%;
	padding-top: 15px;
}

main {
	background-color: #3B3F45;
	height: 85%;
}
ul{
	width: 800px;
	margin: auto;
	padding: 0;
	padding-top: 40px;
	box-sizing: border-box;
}

li {
	background-color: #88839E;
	list-style-type: none;
	height: 65px;
	color: white;
	font-size: 26px;
	width: 800px;

}

label {
	display: block;
	height: 100%;
	padding: 14px 5px;
}

li:nth-child(even){
	background-color: #7A7593;
}

li:hover{
	border-top: 4px solid white;
	border-bottom: 4px solid white;
	background-color: #625E77;
}

input:checked + .checked {
	text-decoration: line-through;
	color: #BAC5CA;

}

li:active {
	background-color: #E0757F;

}

.mini {
	font-size: 18px;
	color: #C0C3C8;

}

.mini:before {
	content: "( "
}

.mini:after {
	content: " )"
}

h1, h2 {
	color: #E0757F;
	text-align: center;
}
section {
	background-color: #4A4F56;
	/*height: 65px;*/
	width: 800px;

	margin: auto;
	padding: 4px 0px;
	margin-top: 40px;
}

h2 {
	font-weight: 100;
}

